.App {
  text-align: center;
  background-color: white;
}


.header{
  color: white;
  background-color: navy;
  padding: 10px 10px 10px;
}


h1 {
  margin: 0;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;  

}

.movie{
  background-color: rgb(161, 159, 159);
  margin-top: 10px;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  font-weight: bold;
  text-align: left;
  width: 15%;
}
.movie img{
  height: 200px;
  width: 100%;
}










