.App {
  text-align: center;
  background-color: white;
}


.heading{
  color: black;
  padding: 5px;
  margin: 10px;
  font-size: 80px;
  justify-content: center;
  

}


.header{
  color: white;
  background-color: navy;
  padding: 10px 10px 10px;
  font-size: 20px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  margin: 0;
}

.main{
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  flex-wrap: wrap;
  padding: 15px;  

}


.btn{
  background-color: blue;
  color: white;
  padding: 5px;
  margin: 5px;
}

.movie{
  background-color: rgb(161, 159, 159);
  margin-top: 10px;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  font-weight: bold;
  text-align: left;
  width: 15%;
}
.movie img{
  height: 200px;
  width: 100%;
}




.data{
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;

}
.data h4{
  color: black;
}





